* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ddd;
}

header {
	padding: 2.5em;
	margin: 5em;
	background-color: #eee;
}

h1 {
	font-family: Merriweather, serif;
	font-size: 3em;
	text-align: center;
	background: linear-gradient(38deg, rgba(15,62,4,1) 0%, rgba(57,176,59,1) 47%, rgba(38,226,176,1) 100%);
	background-clip: text;
	text-fill-color: transparent;
}

p {
	font-family: Oxygen, sans-serif;
	font-size: 1em;
	color: #333;
	padding: 4px 0;
}

a {
	color: #00b39e;
	text-decoration: none;
}

a:hover {
	color: #00b39e;
	text-decoration: underline;
}

a:visited {
	color: #e6635c;
}